.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c365a;
}

.login-container form {
  border-radius: 15px;
  padding: 30px 30px 15px 30px;
  background: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
}

.login-container form label {
  color: #fff;
  margin-right: 8px;
  font-weight: bold;
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.login-logo {
  position: absolute;
  top: 20px;
  right: 20px;
}
